@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-line {
  @apply block w-[30px] h-[2px] bg-black dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45;
}

.nav-active {
  @apply scale-100;
}

#toggle-lg:checked ~ label div.toggle-circle {
  @apply translate-x-[135%];
}
#toggle-sm:checked ~ label div.toggle-circle {
  @apply translate-x-[135%];
}

.hero-img {
  @apply bg-[url('../img/profile.jpeg')];
  @apply bg-cover;
  @apply bg-top;
}

.about-img {
  @apply bg-[url('../img/profile2.jpg')];
  @apply bg-cover;
  @apply bg-center;
}

.tic-tac-toe {
  @apply bg-[url('../img/tic-tac-toe.png')] bg-cover bg-center;
}

.navbar-fixed {
  @apply fixed z-40 bg-white bg-opacity-80 backdrop-blur-sm dark:bg-slate-950 dark:bg-opacity-80;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}
